.calculator {
  display: flex;
  flex-flow: column nowrap;
  width: 600px;
  height: 600px;
  background-color: var(--additional-color);
  font-size: 1.5rem;
  border-radius: 40px;
  padding: 50px;
  z-index: 1;
  box-shadow:
    2px -2px 1px 1px #888888,
    4px -4px 1px 1px #999999,
    6px -6px 1px 1px #AAAAAA,
    8px -8px 1px 1px #BBBBBB,
    10px -10px 1px 1px #CCCCCC,
    12px -12px 1px 1px #DDDDDD,
    14px -14px 1px 1px #EEEEEE,
    16px -16px 1px 1px #FDFDFD;
}

.calculator__text {
  text-align: center;
  font-weight: bold;
  color: var(--additional-color-2);
}

.calculator__text_processing {
  color: var(--processing-color);
}

.calculator__text_error {
  color: var(--error-color);
}

.calculator__text_input-aligned {
  padding-right: 10px;
}

.calculator__text_engraved {
  background-clip: text;
  background-color: var(--calculator-inner-shadow);
  color: transparent;
  text-shadow: 1px 0px 3px var(--additional-color);
}

.calculator__info {
  margin-top: auto;
}

.calculator__line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.calculator__line_input {
  margin: 30px 0px;
}

.calculator__input {
  all: unset;
  width: 310px;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: inset 2px 0px 8px var(--calculator-inner-shadow);
  color: var(--additional-color-2);
  text-align: right;
}
