:root {
  --main-color: #000000;
  --additional-color: #FDFDFD;
  --additional-color-2: #E9702D;
  --processing-color: #1D9977;
  --error-color: #A34054;
  --engraved-text-background: rgba(0, 0, 0, 0.75);
  --background-substrate: rgba(0, 0, 0, 0.5);
  --unclicked-button: #666;
}
