.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

$arrow-size: 64px;

.content__arrow {
  border: 3px solid var(--additional-color);
  border-radius: 32px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  user-select: none;
  width: $arrow-size;
  height: $arrow-size;
  transition: 0.3s ease;

  &:hover {
    border-color: var(--additional-color-2);
    color: var(--additional-color-2);
  }

  &:active {
    transform: scale(0.9);
    transition: 120ms;
  }

  span {
    vertical-align: middle;
  }
}

.content__arrow_prev {
  margin-right: 50px;
}

.content__arrow_next {
  margin-left: 50px;
}
